1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system.'
with open('test.txt','w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt','r') as file:
    test2 = file.read()
    
test2

'This is a test of the emergency text system.'

In [5]:
print(test1 == test2)

True

No, there is no difference between test1 and test2

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [7]:
import csv

data = [
    ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]
]

with open('book.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
import sqlite3

conn = sqlite3.connect('books.db')

cur = conn.cursor()

cur.execute('''
    CREATE TABLE books_1(
        title TEXT,
        author TEXT,
        year INTEGER
        )
''')

conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [15]:
import csv
import sqlite3

with open('book.csv','r') as f:
    data1 = csv.reader(f)
    # to skip the header row which is already exist in database
    next(data1)
    # create a list of tuples containing the data
    data2 = [(row[0],row[1],int(row[2])) for row in data1]
    
conn = sqlite3.connect('books.db')

cur = conn.cursor()
# Insert the data in to books_1 table
cur.executemany('INSERT INTO books_1 VALUES (?,?,?)', data2)

conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [16]:
import sqlite3

conn = sqlite3.connect('books.db')

cur = conn.cursor()

cur.execute('SELECT title FROM books_1 ORDER BY title')

for row in cur.fetchall():
    print(row[0])
    
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [19]:
import sqlite3

conn = sqlite3.connect('books.db')

cur = conn.cursor()

cur.execute('SELECT * FROM books_1 ORDER BY year')

for row in cur.fetchall():
    print(row)
    
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [24]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

conn = engine.connect()

conn.close()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

not able to download

10. Increment the count field of test and print it.

same as above