Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(num):
    num_str = str(num)
    rev_str = num_str[::-1]
    if num_str == rev_str:
        return True
    else:
        return False

In [9]:
is_symmetrical(7227)

True

In [10]:
is_symmetrical(12567)

False

In [11]:
is_symmetrical(44444444)

True

In [12]:
is_symmetrical(9939)

False

In [13]:
is_symmetrical(1112111)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [18]:
def multiply_nums(string):
    product = 1
    str_list = string.split(",")
    for i in str_list:
        product *= int(i)
    return product

In [19]:
multiply_nums("2, 3")

6

In [20]:
multiply_nums("1, 2, 3, 4")

24

In [22]:
multiply_nums("54, 75, 453, 0")

0

In [23]:
multiply_nums("10, -2")

-20


Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [28]:
def square_digits(num):
    str_num = str(num)
    sq_list = []
    #last = ""
    for char in str_num:
        sq_list.append(str(int(char)**2))
        last = "".join(sq_list)
    return int(last)

In [29]:
square_digits(9119)

811181

In [30]:
square_digits(2483)

416649

In [31]:
square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [36]:
def setify(lst):
    s = list(set(lst))
    return s

In [37]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [38]:
setify([4, 4, 4, 4])

[4]

In [39]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [40]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

-	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

-	The mean will always be an integer.

In [43]:
def mean(num):
    str_num = str(num)
    no_digits = len(str_num)
    sum_num  = 0
    num_list = str_num.split()
    for i in str_num:
        sum_num += int(i)
    return int(sum_num/no_digits)

In [44]:
mean(42)

3

In [45]:
mean(12345)

3

In [46]:
mean(666)

6

In [47]:
mean(512)

2